body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 20%;
    background-color:papayawhip;
}

.heading {
    font-family: 'Trebuchet MS';
    margin-top: 25px;
    text-align: center;
}

header {
    background-color:lightsteelblue;
}

nav {
    text-align: center;
}

nav li {
    display: inline-block;
    width: 200px;
    margin: 0 50px;
}

.colors-header {
    text-align: center;
}

.colors-border {
    border: 2px solid gray;
    padding: 10px 50px;
    margin: 10px auto;
}

.color-boxes {
    display: inline-block;
    text-align: center;
    width: 515px;
    min-height: 100px;
    margin: 20px auto;
    position: relative;
    bottom: 15px;
}

.hotpink {
    background-color: hotpink;
    color: black;
}

.cyan {
    background-color: cyan;
    color: black;
}

.magenta {
    background-color: magenta;
    color: white;
}

.turquoise {
    background-color: turquoise;
    color: black;
}

.navy {
    background-color: navy;
    color: white;
}

.lime {
    background-color: lime;
    color: black;
}

.fonts-border {
    border: 2px solid gray;
    padding: 10px 50px;
    margin: 10px auto;
}

.fonts-header {
    text-align: center;
}

.font-boxes {
    display: inline-block;
    text-align: center;
    width: 515px;
    min-height: 100px;
    margin: 10px auto;
    position: relative;
    bottom: 15px;
}

.marcellus-sc {
    font-family: 'Marcellus SC';
}

.laila {
    font-family: Laila;
}

.niconne {
    font-family: Niconne;
}

.karla {
    font-family: Karla;
}

.fondamento {
    font-family: Fondamento;
}

.cinzel-decorative {
    font-family: 'Cinzel Decorative';
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.text-styles-border {
    border: 2px solid gray;
    padding: 10px 50px;
    margin: 10px auto;
}

.text-styles-header {
    text-align: center;
}

.text-style-boxes {
    position: relative;
    bottom: 15px;
}

.heading1 {
    font-family: 'Marcellus SC';
    font-size: 24px;
    font-weight: 750;
}

.heading2 {
    font-family: Laila;
    font-size: 22px;
    font-weight: 600;
}

.heading3 {
    font-family: Niconne;
    font-size: 20px;
    font-weight: 500;
}

.heading4 {
    font-family: karla;
    font-size: 18px;
    font-weight: 450;
}

.paragraph {
    font-family: Fondamento;
    font-size: 16px;
    font-weight: 400;
}

.foot {
    font-family: 'Cinzel Decorative';
    font-size: 14px;
    font-weight: 350;
}